* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog {
  width: 30rem;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.dialogBtn {
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  align-self: flex-end;
}
